<h1>All Posts</h1>

{{> admin/form-messages}}

<table class="table table-dark">
    <thead>
        <tr>
            <th>ID</th>
            <th>Created On</th>
            <th>Attachments</th>
            <th>Title</th>
            <th>Visibility</th>
            <th>Category</th>
            <th>Allow Comments?</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        {{#each posts}}
        <tr>
            <td>{{id}}</td>
            <td>{{formatDate date "dddd, MMMM Do YYYY, h:mm:ss a"}}</td>
            <td><center><img height = 50 class="img-responsive" src="/uploads/{{files}}" alt="{{files}}"></center></td>
            <td>{{title}}</td>
            <td>{{status}}</td>
            <td>{{categories.title}}</td>
            <td>{{allowComments}}</td>
            <td><a href="posts/edit/{{id}}" class="btn btn-info">Edit</a>
            </td>
            <td>
                <form action = "/admin/posts/{{id}}?_method=DELETE" method="post"><button type="submit" class="btn btn-danger">Delete</button></form>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>